#quick-updates-container {
  width: max-content;
  height: auto;
  //   background-color: #2e62b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  z-index: 1;
  right: 100px;
  top: 200px;
}
#quick-updates-btn {
  width: max-content;
  height: auto;
  position: relative;
  //   margin-top: 10px;
  cursor: pointer;
  //   background-color: aquamarine;
  &:hover {
    #quick-updates-btn-text {
      color: white;
    }
    #quick-updates-btn-circle {
      border: 6px solid $main-red;
      //   z-index: 3;
    }
  }
}
#quick-updates-btn-text {
  font-family: $inter;
  color: rgba(255, 255, 255, 0.664);
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: all ease-in-out 200ms;
}
#quick-updates-btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #8b3d479f;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: all ease-in-out 200ms;
}
.quick-updates {
  width: max-content;
  max-width: 340px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 5px 10px 5px;
  margin-top: 10px;
  line-height: 2;
  background-color: #2e62b4;
  border: 2px solid $main-red;
  display: none;
}
.quick-update {
  color: white;
  font-family: $inter;
  font-weight: normal;
  font-size: 15px;
  text-transform: capitalize;
  text-align: left;
  //   line-height: 2;
}
